body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
    font-size: 2em;
}

#message {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

#redeemedMessage {
    margin-top: 20px;
    font-size: 1.5em;
    color: green;
}

.hidden {
    display: none;
}
